header {
  background-color: #C84618;
  padding: 2%;
  font-size: 40px;
  -webkit-box-shadow: 0px -4px 15px 5px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px -4px 15px 5px rgba(0,0,0,0.8);
  box-shadow: 0px -4px 15px 5px rgba(0,0,0,0.8);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

header img {
  width: 80px;
}

h1 {
  color: #FFF;
  font-weight: 600 !important;
  font-size: 40px;
  font-family: 'Courgette', cursive;
}
