@import url('https://fonts.googleapis.com/css?family=Courgette|Roboto+Slab&display=swap');

.App {
  background-color: #E98A2A;
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
}

.App .container {
  max-width: 800px;
}

.btn-primary {
  background-color: #C84618 !important;
  border-color: #C84618 !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}
